<a href="https://colab.research.google.com/github/felipefarinha/Python-Estacio/blob/main/Lista_exerc_banco_21_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Felipe Farinha da Costa 
# 202002250755

In [ ]:
import pandas as pd
import numpy as np
from statistics import mean

from google.colab import drive
drive.mount("/content/drive", force_remount=True)

url = '/content/drive/MyDrive/Colab Notebooks/BankChurners.csv'

def load_data():
  return pd.read_csv(url)

banco = load_data()

banco.head()

banco.rename(columns = { 'CLIENTNUM': 'cliente_ID',
                       'Attrition_Flag' : 'Flag',
                       'Customer_Age': 'Idade',
                       'Gender': 'Sexo', 
                       'Dependent_count': 'Número dep.',
                       'Education_Level': 'Escolaridade', 
                       'Marital_Status': 'Estado civil',
                       'Income_Category': 'Intervalo de renda',
                       'Card_Category': 'Tipo de cartão' }, inplace = True)

banco.drop(['Months_on_book',
            'Total_Revolving_Bal',
            'Avg_Open_To_Buy',
            'Total_Relationship_Count',
            'Months_Inactive_12_mon',
            'Contacts_Count_12_mon',
            'Total_Amt_Chng_Q4_Q1',
            'Total_Trans_Amt',
            'Total_Ct_Chng_Q4_Q1',
            'Avg_Utilization_Ratio',
            'Total_Trans_Ct',
            'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
            'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis = 1, inplace = True)

Mounted at /content/drive

# 1 - Quantos clientes cancelaram o cartão de crédito?

In [ ]:
card_canceled_Male = banco['cliente_ID'].loc[banco['Sexo']=='M'].loc[banco['Flag']=='Existing Customer'].count()
# print(f'Quantidade de clientes demitidos (cancelaram) do cartão de crédito do sexo masculino: {card_canceled_Male}')
print(f'M: {card_canceled_Male}')

card_canceled_Female = banco['cliente_ID'].loc[banco['Sexo']=='F'].loc[banco['Flag']=='Existing Customer'].count()
# print(f'Quantidade de clientes demitidos (cancelaram) do cartão de crédito do sexo masculino: {card_canceled_Female}')
print(f'M: {card_canceled_Female}')

print(f'{card_canceled_Male + card_canceled_Female} pessoas cancelaram o cartão de crédito')

banco.loc[ banco['Flag'] == 'Existing Customer']['Flag'].groupby(banco['Sexo']).value_counts().plot(kind = 'bar')

# 2 - Quantos clientes do sexo masculino cancelaram o cartão de crédito?

# 3 - Quantos clientes do sexo feminino cancelaram o cartão de crédito?

In [ ]:
card_canceled_Male = banco['cliente_ID'].loc[banco['Sexo']=='M'].loc[banco['Flag']=='Existing Customer'].count()
print(f'M: {card_canceled_Male}')

clienteCanceledCardFemale = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Existing Customer')].count()
print(f'F: {clienteCanceledCardFemale}')

banco['Idade'].loc[banco['Flag']== 'Existing Customer'].groupby(banco['Sexo']).count().plot(kind = 'bar')

# 4 - Qual a média de idade dos clientes do sexo feminino que cancelaram o cartão?

# 5- Qual a média de idade dos clientes do sexo masculino que cancelaram o cartão?

In [ ]:
mediaCanceledCardFemale = banco['Idade'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Existing Customer')].mean()
print(f'F: {round(mediaCanceledCardFemale, 2)}')

mediaCanceledCardMale = banco['Idade'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Existing Customer')].mean()
print(f'F: {round(mediaCanceledCardMale, 2)}')

banco['Idade'].loc[banco['Flag']== 'Existing Customer'].groupby(banco['Sexo']).count().plot(kind = 'bar')

# 6 - Quantos clientes do sexo feminino têm 3 dependentes?

# 7 - Quantos clientes do masculino têm 3 dependentes?

In [ ]:
quantClienteMale3denp = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Número dep.']== 3)].count()
print(f'F: {round(quantClienteMale3denp, 2)}')

quantClienteFemale3denp = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Número dep.']== 3)].count()
print(f'F: {round(quantClienteFemale3denp, 2)}')

banco['Sexo'].loc[banco['Número dep.']== 3].groupby(banco['Sexo']).count().plot(kind = 'bar')

# 8 - Quantos clientes do sexo feminino que cancelaram o cartão de crédito tem graduação?

# 9 - Quantos clientes do sexo masculino que cancelaram o cartão de crédito tem graduação?

In [ ]:
quantClienteFemaleHaveGraduate = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer') & (banco['Escolaridade']=='Graduate')].count()
print(f'Quantidade de clientes do sexo feminino com graduação : {round(quantClienteFemaleHaveGraduate, 2)}')

quantClienteMaleHaveGraduate = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer') & (banco['Escolaridade']=='Graduate')].count()
print(f'Quantidade de clientes do sexo masculino com graduação : {round(quantClienteMaleHaveGraduate, 2)}')

banco['Sexo'].loc[banco['Flag'] == 'Attrited Customer'].loc[banco['Escolaridade'] == 'Graduate'].groupby(banco['Sexo']).count().plot(kind = 'bar')

# 12 - Quantos clientes do sexo feminino que cancelaram o cartão de crédito são casados?

# 13 - Quantos clientes do sexo masculino que cancelaram o cartão de crédito são casados?

In [ ]:
quantClienteFemaleMarried = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer') & (banco['Estado civil']=='Married')].count()
print(f'Quantidade de clientes do sexo feminino casadas : {round(quantClienteFemaleMarried, 2)}')

quantClienteFemaleMarried = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer') & (banco['Estado civil']=='Married')].count()
print(f'Quantidade de clientes do sexo masculino casados : {round(quantClienteFemaleMarried, 2)}')

banco['Sexo'].loc[banco['Flag'] == 'Attrited Customer'].loc[banco['Estado civil'] == 'Married'].groupby(banco['Sexo']).count().plot(kind = 'bar')

# 14 - Quantos clientes do sexo feminino que cancelaram o cartão de crédito são divorciados?

# 15 - Quantos clientes do sexo masculino que cancelaram o cartão de crédito são divorciados?

In [ ]:
quantClienteFemaleDivorced = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer') & (banco['Estado civil']=='Divorced')].count()
print(f'Quantidade de clientes do sexo feminino divorciadas : {round(quantClienteFemaleDivorced, 2)}')

quantClienteMaleDivorced = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer') & (banco['Estado civil']=='Divorced')].count()
print(f'Quantidade de clientes do sexo masculino divorciadas : {round(quantClienteMaleDivorced, 2)}')

banco['Sexo'].loc[banco['Flag'] == 'Attrited Customer'].loc[banco['Estado civil'] == 'Divorced'].groupby(banco['Sexo']).count().plot(kind = 'bar')


# 16 - Quantos clientes do sexo feminino que cancelaram o cartão de crédito tinham cartão tipo blue?

# 17 - Quantos clientes do sexo masculino que cancelaram o cartão de crédito tinham cartão tipo blue?

In [ ]:
quantClienteFemaleAttritedTypecardBlue = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer') & (banco['Tipo de cartão']=='Blue')].count()
print(f'Quantidade de clientes do sexo masculino que cancelara o cartão tipo blue : {round(quantClienteFemaleAttritedTypecardBlue, 2)}')

quantClienteMaleAttritedTypecardBlue = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer') & (banco['Tipo de cartão']=='Blue')].count()
print(f'Quantidade de clientes do sexo masculino que cancelara o cartão tipo blue : {round(quantClienteMaleAttritedTypecardBlue, 2)}')

banco['cliente_ID'].loc[banco['Tipo de cartão'] == 'Blue'].loc[banco['Flag'] == 'Attrited Customer'].groupby(banco['Sexo']).count().plot(kind = 'bar')

# 18 - Quantos clientes que cancelaram o cartão, do sexo feminino, tinham cartão tipo Silver?

# 19 - Quantos clientes que cancelaram o cartão, do sexo masculino, tinham cartão tipo Silver?

In [ ]:
quantClienteMaleAttSilver = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer') & (banco['Tipo de cartão']=='Silver')].count()
print(f'Quantidade de clientes do sexo masculino que tinham o cartão tipo Silver : {round(quantClienteMaleAttSilver, 2)}')

quantClienteFemaleAttSilver = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer') & (banco['Tipo de cartão']=='Silver')].count()
print(f'Quantidade de clientes do sexo masculino que tinham o cartão tipo Silver : {round(quantClienteFemaleAttSilver, 2)}')

banco['cliente_ID'].loc[banco['Tipo de cartão'] == 'Silver'].loc[banco['Flag'] == 'Attrited Customer'].groupby (banco['Sexo']).count().plot(kind = 'bar')

20 Qual a média de tempo de relacionamento, em meses, com o banco dos clientes do sexo feminino que cancelaram o cartão?

21 Qual a média de tempo de relacionamento, em meses, com o banco dos clientes do sexo masmculino que cancelaram o cartão?

In [ ]:
#NÃO EXECUTAR ATÉ AJUSTAR O NOME DA TABELA 'RELACIONAMENTO'

quantClienteMaleAttSilver = banco['cliente_ID'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer') & (banco['relacionamento']=='meses')].count()
print(f'Quantidade de clientes do sexo masculino que tinham o cartão tipo Silver : {round(quantClienteMaleAttSilver, 2)}')

quantClienteFemaleAttSilver = banco['cliente_ID'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer') & (banco['relacionamento']=='meses')].count()
print(f'Quantidade de clientes do sexo masculino que tinham o cartão tipo Silver : {round(quantClienteFemaleAttSilver, 2)}')

banco['cliente_ID'].loc[banco['relacionamento'] == 'meses'].loc[banco['Flag'] == 'Attrited Customer'].groupby (banco['Sexo']).count().plot(kind = 'bar')

22 Qual é o limite médio do cartão dos clientes do sexo feminino que cancelaram seus cartões?

23 Qual é o limite médio do cartão dos clientes do sexo masculino que cancelaram seus cartões?

In [ ]:
mediaClienteMaleAttLimit = banco['Credit_Limit'].loc[(banco['Sexo']=='M') & (banco['Flag']=='Attrited Customer')].mean()
print(f'Quantidade de clientes do sexo masculino que tinham o cartão tipo Silver : {round(mediaClienteMaleAttLimit, 2)}')

mediaClienteMaleAttLimit = banco['Credit_Limit'].loc[(banco['Sexo']=='F') & (banco['Flag']=='Attrited Customer')].mean()
print(f'Quantidade de clientes do sexo feminino que tinham o cartão tipo Silver : {round(mediaClienteMaleAttLimit, 2)}')

banco['Credit_Limit'].loc[banco['Flag'] == 'Attrited Customer'].groupby (banco['Sexo']).mean().plot(kind = 'bar')

In [ ]:
banco

,cliente_ID,Flag,Idade,Sexo,Número dep.,Escolaridade,Estado civil,Intervalo de renda,Tipo de cartão,Credit_Limit
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,12691.0
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,8256.0
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,3418.0
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,3313.0
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,4716.0
...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,4003.0
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,4277.0
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,5409.0
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,5281.0
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,10388.0

1 Quantos clientes cancelaram o cartão de crédito?

2 Quantos clientes do sexo masculino cancelaram o cartão de crédito?

3 Quantos clientes do sexo feminino cancelaram o cartão de crédito?

4 Qual a média de idade dos clientes do sexo feminino que cancelaram o cartão?

5 Qual a média de idade dos clientes do sexo feminino que cancelaram o cartão?

6 Quantos clientes do sexo feminino têm 3 dependentes?

7 Quantos clientes do masculino têm 3 dependentes?

8 Quantos clientes do sexo feminino que cancelaram o cartão de crédito tem graduação?

9 Quantos clientes do sexo masculino que cancelaram o cartão de crédito têm graduação?

10 Quantos clientes do sexo feminino que cancelaram o cartão de crédito são casados?

11 Quantos clientes do sexo feminino que cancelaram o cartão de crédito são solteiros?

12 Quantos clientes do sexo feminino que cancelaram o cartão de crédito são divorciados?

13 Quantos clientes do sexo feminino que cancelaram o cartão de crédito são casados?

14 Quantos clientes do sexo masculino que cancelaram o cartão de crédito são solteiros?

15 Quantos clientes do sexo masculino que cancelaram o cartão de crédito são divorciados?

16 Quantos clientes do sexo masculino que cancelaram o cartão de crédito tinham cartão tipo blue?

17 Quantos clientes do sexo feminino que cancelaram o cartão d ecrédito tinham cartão tipo blue?

18 Quantos clientes do sexo masculino que cancelaram o cartão de crédito tinham cartão tipo blue?

19 Quantos clientes do sexo feminino que cancelaram o cartão de crédito tinham cartão tipo Silver?

20 Qual a média de tempo de relacionamento, em meses, com o banco dos clientes do sexo feminino que cancelaram o cartão?

21 Qual a média de tempo de relacionamento, em meses, com o banco dos clientes do sexo masmculino que cancelaram o cartão?

22 Qual é o limite médio do cartão dos clientes do sexo feminino que cancelaram seus cartões?

23 Qual é o limite médio do cartão dos clientes do sexo masculino que cancelaram seus cartões?

24 Plote o gráfico para cada situação envolvendo clientes do sexo masulino e feminino